.fruit {
    padding-bottom: 36px;

    &__title {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 36px;
        text-align: center;
    }

    &__block {
        height: 345px;
        background-repeat: no-repeat;
        background-image: url(../image/fruit-garden.webp);
        background-position: center;
        background-size: cover;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        width: 100%;
        max-width: 612px;

        @media screen and (min-width: 730px) {
            width: 612px;
        }
    }

    &__backdrop {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.25);
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__pause {
        background: orange;
        position: absolute;
        left: 480px;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin: 10px;
        &:hover {
            background: darkorange;
        }
    }

    &__pauses {
        background-color:  blue;
        position: absolute;
        left: 350px;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        margin: 10px;
        &:hover {
            background-color: darkblue;
        }
    }
    
    &__play {
        border-radius: 20px;
        background-color: #000;
        box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
        padding: 10px 20px;
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
    }

    &__apple {
        position: absolute;
        left: 0;
    }

    &__basket {
        width: 100px;
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
        // transform: translate(-50%, -50%);
    }

    &__line {
        width: 100%;
        max-width: 536px;
        height: 1px;
        background-color: #000;
        margin: 36px auto 0;
    }

    &__score {
        color: #000;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 36px;
        position: absolute;
        left: 30px;
        top: 20px;
    }

    &__info {
        color: #000;
        font-size: 12px;
        font-weight: 400;
        margin-top: 24px;
        text-align: center;
    }
}

body.dark-mode .fruit {
    &__title {
        color: #fff;
    }

    &__line {
        background-color: #fff;
    }

    &__info {
        color: #fff;
    }
}
