.header {
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
 
  .container {
    position: relative;
    
  }
  &__interactive {
    position: relative;
    cursor: pointer;  
  }

  &__menu {
    background-image: url(../image/menu.svg);
    background-repeat: no-repeat;
    width: 95px;
    height: 39px;

  }

  &__dropdown {
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 0;
    width: 120px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
  }

  &__interactive:hover &__dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &__dropdown-item {
    font-size: 12px;
    margin: 5px 0;
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s ease;
    font-family: Montserrat Alternates;
  }

  &__dropdown-item:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
   background-image: url(../image/header-coding.png);
   background-repeat: no-repeat;
   width: 95px;
   height: 39px;
   margin-right: 180px;

   @media screen and (min-width: 768px) {
    margin-right: 300px;
  }

   @media screen and (min-width: 1090px) {
    margin-right: 81px;
  }

  }

  &__list {
   display: none;

    @media screen and (min-width: 1090px) {
      display: flex;
      margin-right: 350px;
      gap: 50px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__text {
    color: #000;
    font-family: Montserrat Alternates;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  &__arrow {
    transform: rotate(180deg);
    height: 9px;
    stroke-width: 0.75px;
    stroke: #000;
    margin-left: 8px;
  }

  &__btn {
    width: 40px;
    height: 20px;
    border-radius: 11px;
    background: #7a7a7a;
    margin-right: 51px;
    padding: 0;
  }

  &__sun {
    width: 20.5px;
    height: 20px;
    border-radius: 11px;
  }

  &__greetings {
   display: none;

    @media screen and (min-width: 1090px) {
      display: block;
      color: #000;
      text-align: right;
      font-family: "Montserrat Alternates";
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
    }
  }

  &__theme {
    display: inline-flex;
    justify-content: flex-end;
    position: relative;

    width: 40px;
    height: 20px;
    margin-right: 1px;

    border-radius: 11px;
    background: gray;

    @media screen and (min-width: 1090px) {
   margin-right: auto;
    }

    &-changer {
        width: 0;
        height: 0;
        opacity: 0;
    }

    &-slider {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        cursor: pointer;
        border-radius: 11px;
        background-color: rgb(153, 150, 150);
        transition: 0.3s;
        
    }

    &-slider::before {
        content: "";

        position: absolute;
        left: 0;
        bottom: 0;

        width: 20.5px;
        height: 20px;
        cursor: pointer;

        border: solid 0.5px black;
        border-radius: 50%;
        background-color: white;
        transition: 0.3s;
    }

    &-changer:checked + &-slider::before {
        position: absolute;
        right: 0;
        bottom: 0;

        width: 20.5px;

        transform: translateX(20px);
        background-color: black;
    }

    &-icon {
        display: flex;
        width: 20.533px;
        height: 20.667px;
        padding: 3px 3px 3px 3px;
        border-radius: 15.033px;
        position: absolute;
        z-index: 1;

        &-sun {
            display: block;
            left: 0;
        }

        &-moon {
            display: none;
            right: 0;
        }
    }

    &-changer:checked + &-slider > &-icon-sun {
        display: none;
    }

    &-changer:checked + &-slider > &-icon-moon {
        display: block;
    }
  }

  &__menu {
    width: 45px;
  }

  &__burger {
    background-color: none;

    @media screen and (min-width: 1090px) {
      display: none;
    }
  }
}


.all {
  padding-bottom: 80px;
}

























//              Чорна тема








  body.dark-mode {
    background-color: #333;
  }


  .dark-mode a {
    color: white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .dark-mode {
    background-color: #333333;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .dark-mode .container {
    background-color: #444444;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .dark-mode .header {
    background-color: #444444;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .dark-mode .footer {
    background-color: #444444;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .dark-mode .hero__line-year {
    background-color: white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .dark-mode .calculate__flex {
    border-top: solid white 1px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .dark-mode .numbers__border {
    border-top: solid white 1px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .dark-mode .dino__border {
    border-top: solid white 1px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .dark-mode .dino__dino {
    background-image: url(../image/white-dino.webp);
    width: 50px;
    height: 50px;
    
  }
  
  .dark-mode .dino__cactus {
    background-image: url(../image/white-cactus.webp);
    transform: scale(3.5);
    top: 183px;
    background-color: none;
  }

  .dark-mode .dinomodal__btn {
    color: white;
  }

  .dark-mode .register__close {
    color: white;
  }

  .dark-mode .socker__field {
    border: 2px solid #fff;
  }
  

  
  .dark-mode p {
    color: white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .dark-mode h1 {
    color: white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .dark-mode h2 {
    color: white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .dark-mode h3 {
    color: white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .dark-mode .science__name {
    color: #000;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .dark-mode .header__logo {
    background-image: url(../image/white-logo.webp);
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .dark-mode .footer__img {
    background-image: url(../image/white-logo1.webp);
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .dark-mode .modal {
    background-color: #444444;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .dark-mode .register{
    background-color: #616161;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .dark-mode span{
    color: white;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  

  .dark-mode .header__dropdown {
    border-color: white;
    background-color: #444444;
    
  }


  .dark-mode .header__dropdown-item {
    color: white;
    background-color: #444444;
  }
  

  .dark-mode .header__arrow {
    stroke: #fff
  }
  
  .dark-mode .header__dropdown-item:hover {
    background-color: #616161;
    width: 100%;
}
  
  
  
  
  .dark-mode .game__description{
    color: white;
  }
  
  
  .dark-mode .calculate__secondnumber {
    color: #000;
  }
  
  
  
  .dark-mode #result-text {
    color: white;
  }
  
  
  
  .dark-mode .hero__check-year {
    color: rgb(8, 170, 8);
  }
  
  
  .dark-mode .mobile__window {
    background: #333333;
  }
  
  .dark-mode .header__menu {
    background-image: url(../image/white-logo.webp);
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .dark-mode .mobilee__windoww {
    background: #333333;
  }

  .dark-mode section {
    background-color: #444444;
  }

  

