<section class="hero"  id="hero">
    <div class="container">
    <div class="hero__fullbox">
      <h1 class="hero__title-Popular">Популярні інтерактивні ігри</h1>
      <div class="hero__line-year"></div>
        <p class="hero__title-year">Перевір в який рік ти народився</p>
        <div class="hero__box-year">
          <div class="hero__input-box-year">
            <input type="text" class="hero__input-year" id="heroInput" placeholder="Введіть рік народження"/>

            <button id="checkButton" class="hero__search-year" type="button" aria-label="button confirm">
                <img width="15px" src="./image/search.webp" alt="search">
            </button>
          
            <p id="result" class="hero__check-year">Ви народилися у високосний рік!</p>
          </div>

        </div>
    </div>
    </div>
    </section>