<section class="calculate">
  <div class="container">
    <h2 class="calculate__title">Калькулятор</h2>
    <div class="calculate__flex">
      <input type="number" class="calculate__firstnumber" placeholder="Введіть число">
      <ul class="calculate__list">
        <li class="calculate__item">
          <button type="button" class="calculate__button" data-math="plus">+</button>
        </li>
        <li class="calculate__item">
          <button type="button" class="calculate__button" data-math="multiple">*</button>
        </li>
        <li class="calculate__item">
          <button type="button" class="calculate__button" data-math="minus">-</button>
        </li>
        <li class="calculate__item">
          <button type="button" class="calculate__button" data-math="divide">/</button>
        </li>
      </ul>
      <input type="number" class="calculate__secondnumber" placeholder="Введіть число">
      <button type="button" class="calculate__calculation">=</button>
      <input class="calculate__result" placeholder="Результат" disabled>
    </div>
  </div>
</section>
