<section class="calculate">
  <div class="container">
    <h2 class="calculate__title">Калькулятор</h2>
    <input type="number" class="calculate__firstnumber" />
    <ul class="calculate__list">
      <li class="calculate__item">
        <button type="button" class="calculate__button">+</button>
      </li>
      <li class="calculate__item">
        <button type="button" class="calculate__button">*</button>
      </li>
      <li class="calculate__item">
        <button type="button" class="calculate__button">-</button>
      </li>
      <li class="calculate__item">
        <button type="button" class="calculate__button">/</button>
      </li>
    </ul>
    <input type="number" class="calculate__secondnumber" />
    <button type="button" class="calculate__calculation">=</button>
    <input type="number" class="calculate__result" />
  </div>
</section>