<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <section class="socker" id="socker">
        <div class="container">
          <h2 class="socker__title">Футбол</h2>
          <p>Рахунок: <span class="socker__span"></span></p>
          <div class="socker__field">
            <img class="socker__ball" src="./imgs/footbalimg.png" alt="ball" />
            <img src="./imgs/vorots.png" alt="" class="socker__vorots">
          </div>
        </div>
      </section>

    <script type="module" src="./js/football.js"></script>
</body>
</html>