<footer class="footer">
    <div class="container">
        <div class="footer__wraps">
        <div class="footer__box">
            <img src="./image/coding.png" alt="" class="footer__img">
            <ul>
                <li><a href="" class="footer__link">Тел: +38 (123) 456 78 90</a></li>
                <li><a href="" class="footer__link">E-Mail: codingmagic@gmail.com</a></li>
                <li><a href="" class="footer__link">Facebook: CodingMagic</a></li>
                <li><a href="" class="footer__link">Twitter: CodingMagic</a></li>
                <li><a href="" class="footer__link">Instagram: CodingMagic</a></li>

            </ul>
        </div>
        <div>
            <form class="footer__form">
            <input type="email" placeholder="Ваша ел. адреса..." class="footer__input" required>
            <button type="submit" class="footer__butt">Підписатись</button>
            <p class="footer__text">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
            </form>
        </div>
    </div>
    </div>
</footer>

    <div class="backdrops is-hidden">
        <div class="modal">
            <button class="backdrops__button"><img src="./image/close.png" class="backdrops__img" alt="close"></button>
            <p class="backdrops__text">Дякую за підписку!</p>
                <img src="./image/sword.webp" class="backdrops__icons" alt="sword">
    <img src="./image/puzzle.webp" class="backdrops__icons" alt="puzzle">
        <img src="./image/game.webp" class="backdrops__icons" alt="game">
    <img src="./image/console.webp" class="backdrops__icons" alt="code">

        </div>
    </div>