<section class="photo" id="photo">
  <div class="container">
    <h2 class="photo__title">Наша команда</h2>
    <div class="photo__wrap">
    <button type="button" class="photo__button" data-action="left">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="52"
        height="102"
        viewBox="0 0 52 102"
        fill="none"
      >
        <path d="M51 1L1 51L51 101" stroke="black" />
      </svg>
    </button>
        <div class="photo__box">
    <ul class="photo__list">
      <li class="photo__item"><img src="../imgs/nazar.jpg" alt=""  class="photo__imgs"/></li>
      <li class="photo__item"><img src="../imgs/taras.jpg" alt=""  class="photo__imgs"/></li>
      <li class="photo__item"><img src="../imgs/ivsn.jpg" alt=""  class="photo__imgs"/></li>
      <li class="photo__item"><img src="" alt=""  class="photo__imgs"/></li>
    </ul>
    </div>
    <button type="button" class="photo__button" data-action="right">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="52"
        height="102"
        viewBox="0 0 52 102"
        fill="none"
      >
        <path d="M1 1L51 51L1 101" stroke="black" />
      </svg>
    </button>
    </div>

    <h3 class="photo__subtitle">Ім’я студента</h3>
    <p class="photo__desc">Інформація про роботу, яку він/вона виконав/ла</p>
  </div>
</section>
