<section class="photo">
  <div class="container">
    <h2 class="photo__title">Наша команда</h2>
    <div class="photo__wrap">
    <button type="button" class="photo__button" data-action="left">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="52"
        height="102"
        viewBox="0 0 52 102"
        fill="none"
      >
        <path d="M51 1L1 51L51 101" stroke="black" />
      </svg>
    </button>
    <button type="button" class="photo__button" data-action="right">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="52"
        height="102"
        viewBox="0 0 52 102"
        fill="none"
      >
        <path d="M1 1L51 51L1 101" stroke="black" />
      </svg>
    </button>
    </div>
    <div class="photo__box">
    <ul class="photo__list">
      <li class="photo__item"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAKgWYdzp0l3T-uo1_G383dvOifgy4W620dA&s" alt=""  class="photo__imgs"/></li>
      <li class="photo__item"><img src="https://irecommend.ru/sites/default/files/imagecache/copyright1/user-images/24355/6y7v3XlakbkOi6eW8QV4wA.jpg" alt=""  class="photo__imgs"/></li>
      <li class="photo__item"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpSnNCUTP6uXc2FoOn3jq9K9C11S0KZjN8DA&s" alt=""  class="photo__imgs"/></li>
      <li class="photo__item"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpjoWTPxb9fAwTIME2SbK5kGsSxbzTxo0x9Q&s" alt=""  class="photo__imgs"/></li>
    </ul>
    </div>
    <h3 class="photo__subtitle">Ім’я студента</h3>
    <p class="photo__desc">Інформація про роботу, яку він/вона виконав/ла</p>
  </div>
</section>
