<section class="photo">
    <div class="container">
        <h2 class="photo__title">Наша команда</h2>
        <button type="button" class="photo__left-btn"></button>
        <img src="" alt="contributor">
        <button type="button" class="photo__right-btn"></button>
        <h3 class="photo__subtitle"></h3>
        <p class="photo__desc"></p>
        <ul class="photo__btn-list">
            <li class="photo__list-item"><button type="button" class="photo__btn"></button></li>
            <li class="photo__list-item"><button type="button" class="photo__btn"></button></li>
            <li class="photo__list-item"><button type="button" class="photo__btn"></button></li>
            <li class="photo__list-item"><button type="button" class="photo__btn"></button></li>
            <li class="photo__list-item"><button type="button" class="photo__btn"></button></li>
        </ul>
    </div>
</section>