<section class="scientist">
  <div class="container">
    <h2 class="scientist__title">Обери вченого/их</h2>
    <ul class="scientist__list">
      <li class="scientist__item">
        <img src="" alt="" class="scientist__photo" />
      </li>
      <li class="scientist__item">
        <img src="" alt="" class="scientist__photo" />
      </li>
      <li class="scientist__item">
        <img src="" alt="" class="scientist__photo" />
      </li>
      <li class="scientist__item">
        <img src="" alt="" class="scientist__photo" />
      </li>
      <li class="scientist__item">
        <img src="" alt="" class="scientist__photo" />
      </li>
      <li class="scientist__item">
        <img src="" alt="" class="scientist__photo" />
      </li>
      <li class="scientist__item">
        <img src="" alt="" class="scientist__photo" />
      </li>
      <li class="scientist__item">
        <img src="" alt="" class="scientist__photo" />
      </li>
      <li class="scientist__item">
        <img src="" alt="" class="scientist__photo" />
      </li>
      <li class="scientist__item">
        <img src="" alt="" class="scientist__photo" />
      </li>
      <li class="scientist__item">
        <img src="" alt="" class="scientist__photo" />
      </li>
      <li class="scientist__item">
        <img src="" alt="" class="scientist__photo" />
      </li>
    </ul>
    <ul class="scientist__listofbuttons">
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button">
          Які вчені народилися в 19 ст.
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button">
          Знайти рік народження Albert Einshtein
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button">
          Відсортувати вчених за алфавітом
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button">
          Знайти вчених, прізвища яких починаються на на літеру “С”
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button">
          Відсортувати вчених за кількістю прожитих років
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button">
          Видалити всіх вчених, ім’я яких починається на “А”
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button">
          Знайти вченого, який народився найпізніше
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button">
          Знайти вченого, який прожив найдовше і вченого, який прожив найменше
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button">
          1. Знайти вчених, в яких співпадають перші літери імені і прізвища
        </button>
      </li>
    </ul>
  </div>
</section>
