<section class="scientist">
  <div class="container">
    <h2 class="scientist__title">Обери вченого/их</h2>
    <ul class="scientist__list"></ul>
    <ul class="scientist__listofbuttons">
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button" data-action="xix-century">
          Які вчені народилися в XIX столітті
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button" data-action="sum">
          Знайти суму років скільки прожили всі вченні
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button" data-action="albert">
          Знайти рік народження Albert Einshtein
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button" data-action="alphabet">
          Відсортувати вчених за алфавітом
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button" data-action="c-leter">
          Знайти вчених, прізвища яких починаються на літеру “С”
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button" data-action="eldest">
          Відсортувати вчених за кількістю прожитих років
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button" data-action="delete">
          Видалити з масива вчених що народилися в XV або XVI або XVII столітті
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button" data-action="a-leter">
          Видалити всіх вчених, ім’я яких починається на “А”
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button" data-action="latest">
          Знайти вченого, який народився найпізніше
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button" data-action="eldest-youngest">
          Знайти вченого, який прожив найдовше і вченого, який прожив найменше
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button" data-action="coincidence">
          Знайти вчених, в яких співпадають перші літери імені і прізвища
        </button>
      </li>
      <li class="scientist__itembtn">
        <button type="button" class="scientist__button" data-action="work">
          Дізнатися чи всі вченні працювали в XIX столітті
        </button>
      </li>
    </ul>
  </div>
</section>
