
<section class="comp"  id="comp">
          <div class="subline">
    <div class="linee"></div>
  </div>
    <div class="container">
    <div class="comp__fullbox">
        <p class="comp__title">Вгадай число, яке загадав комп’ютер</p>
        <div class="comp__box-year">
          <form class="comp__input-box">
            <input type="text" class="comp__input-num" id="heroInput" placeholder="Введіть число"/>

            <button id="checkButton" class="comp__search-num" type="submit" aria-label="button confirm">
                <img width="15px" src="./image/search.webp" alt="search">
            </button>
          
            <p id="result" class="comp__check-num">Вітаю, ви вгадали число! (number) </p>
          </form>

        </div>
    </div>
    </div>
    </section>